@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  user-select: none;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.bar {
  height: 100vh;
  position: fixed;
  background-color: #262626;
  width: 200px;
  overflow: auto;
}

.blackboard {
  color: #fdfdfd;
  height: 105px;
  border-bottom: 1.9px solid #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-family: "Poppins";
  font-weight: 600;
}

.r {
  display: block;
  font-size: 0.4rem;
  padding-bottom: 10px;
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links li {
  margin: 4px 0px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Poppins";
  font-size: 0.9rem;
  color: #e5e5e5;
  cursor: pointer;
  transition: all 0.1s;
}

.links ion-icon {
  font-size: 30px;
  vertical-align: text-bottom;
  margin-left: 10px;
  margin-right: 12.5px;
}

.links li:hover {
  background-color: #1b1b1b;
  text-decoration: underline;
}

li.active {
  background-color: black;
  border-left: 4px #c56fd5 solid;
}

li.active:hover {
  background-color: black;
}

.content {
  margin-left: 200px;
  width: calc(100% - 200px);
}

.top__section {
  background-color: #ffffff;
  height: 180px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 6px;
}

.title {
  height: 105px;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  align-items: center;
}

.title p {
    font-size: 1.7rem;
    font-family: "Poppins";
    margin-left: 30px;
}

.bottom__section {
  width: 100%;
}

.bottom__section__child {
  margin: 30px auto 0 auto;
  width: 95.5%;
}

.semester {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.1rem;
}

.courses__container > * {
  margin-bottom: 25px;
}

.course {
  width: calc(100% - 10px);
  border-left: 10px solid #666666;
  height: 103px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 6px;
}

@media screen and (max-width: 1023px) {
  body {
    flex-direction: column;
  }

  .bar {
    height: 55px;
    width: 100%;
  }

  .blackboard,
  .links {
    display: none;
  }

  .content {
    margin: 55px 0px 0px;
    width: 100%;
  }

  .top__section {
    height: 72px;
  }

  .bottom__section__child {
    margin: 30px auto 0 auto;
    width: 92.5%;
  }

  .course {
    width: calc(100% - 10px);
    border-left: 10px solid #666666;
    height: 95px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 6px;
  }

  .title {
    display: none;
  }
}
